/********Body styling********/

body {
  margin:0;
  font-family: 'Exo 2', sans-serif;
}
/********End Body styling********/


/********Header & Navigation Styling*********/
.navigation {
	width:100%;
	height: 50px;
	border-bottom: 1px solid #e6e6e6;
}

.navigation h1 {
	float: left;
	font-size: 30px;
	font-weight: bold;
	color: #99e600;
	margin: 7px 0px;
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float:right;
}

.navigation li {
	
	border-right:1px solid #bbb;
	float:left;
}

.navigation a {
	display: block;
	padding: 8px;
}

.navigation li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navigation li a:hover:not(.active) {
	background-color:  #bbff33;
	font-weight: bold;
}

.navigation li:last-child {
	border-right:none;
}

.navigation .active {
	background-color: #bbff33;
	font-weight: bold;
}

.navigation img {
	float:left;
	height:45px;
}
/********End Header & Navigation Styling*********/



/********Main Container Styling********/


.mainContainer {
	width: 100%;
	margin: 100px 0px 0px 0px;
	border: 0;
	padding: 0;
	position: relative;
}

/********End Main Container Styling********/

/*******Block Styling********/
.mainContainer .block {
	width: 40%;
	margin: 20px auto;
	border: solid 2px #bbff33;
}


.block h2  {

	font-weight: bold;
	text-align: center;
}


.block h3 {
	margin: 5px;
	font-weight: bold;
	text-align: left;
}


.block p {
	margin: 20px;
	text-align: left;
}

.block:hover {
  box-shadow: 2px 2px 2px 2px #cccccc;
}


/*******End Block Styling********/



/*******Footer Styling**********/


.footerContainer {
	width:100%;
	border-top: 1px solid #e6e6e6;
	background-color: #f2f2f2;
}

.footerContainer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float:right;
}

.footerContainer li {
	
	border-right:1px solid #bbb;
	float:left;
}

.footerContainer a {
	display: block;
	padding: 8px;
}

.footerContainer li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.footerContainer li a:hover:not(.active) {
	background-color:  #bbff33;
	font-weight: bold;
}

.footerContainer li:last-child {
	border-right:none;
}

.footerContainer .active {
	background-color: #bbff33;
	font-weight: bold;
}





/*******End Footer Styling*******/




/*******Small Screen Sizes************/
@media screen and (max-width: 600px) {
	.navigation ul li, .navigation ul{
		float: none;
	}
}

/*******End Small Screen Sizes************/